* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.nav {
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-img {
  width: 8vw;
}

.searchbar-div {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
}

.searchbar-input {
  background-color: white;
  margin: 0 20px;
  padding: 10px;
  box-shadow: 0 2px 2px (0, 0, 0, 0.25);
  border-radius: 2px;
  /* border: none; */
}

.searchbar-btn {
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 10px;
  height: 50px;
  color: white;
  padding: 10px 12px;
}

.header-pokedex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-card-sprite {
  width: 70px;
  height: 70px;
  margin: 0 5px;
  margin-right: 10px;
}

.pokemon-card-sprite {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.pokemon-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
  flex: 1;
}

.pokemon-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-card-name {
  text-transform: capitalize;
}

.pokemon-card-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-card-typing {
  display: flex;
}

.pokemon-typing-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.pokemon-fav-btn {
  border: none;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 4px;
  cursor: pointer;
}

.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}

.App {
  text-align: center;
}
