* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: hidden;
}

body {
  background-color: rgb(24, 24, 24);
  color: white;
}

.nav {
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .nav-img {
  width: 8vw;
} */

.nav-name {
  
}

.searchbar-div {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
}

.searchbar-input {
  background-color: white;
  margin: 0 20px;
  padding: 10px;
  box-shadow: 0 2px 2px (0, 0, 0, 0.25);
  border-radius: 2px;
  /* border: none; */
}

.searchbar-btn {
  background-color: rgba(220,10,45,255);
  border: none;
  border-radius: 10px;
  height: 50px;
  color: white;
  padding: 10px 12px;
}

.header-pokedex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(2, 1fr);
  margin: 2vw;
  align-items: center;
  justify-content: center;
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid gray;
  border-radius: 100px;
  padding: 0 15px 0 0;
}

.pokemon-card:hover {
  transition: all .5s ease-in-out;
  border: 1px solid rgba(220,10,45,255);
  box-shadow: 4px 4px 4px rgba(220,10,45,0.25);
}

.pokemon-card-sprite {
  width: 150px;
  height: 80px;
  margin: 0 5px;
  margin-right: 10px;
  margin-left: 0;
  border-radius: 0 50px 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;


  background-color: rgb(53, 53, 53);
  box-shadow: 4px 4px 0 rgba(73, 73, 73, 0.25);
}

.pokemon-sprite-img {
  width: 80px;
  height: 80px;
}

.pokemon-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
  flex: 1;
}

.pokemon-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-card-name {
  text-transform: capitalize;
}

.pokemon-card-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-card-typing {
  display: flex;
}

.pokemon-typing-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.pokemon-fav-btn {
  border: none;
  background: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}

.App {
  text-align: center;
}


.content {
  display: flex;
}

.sidebar-wrapper {
  position:fixed;
  top:0;
  left:-20%; 
  height:100%;
  width: 25%;
  background-color: rgba(220,10,45,255);
  border-radius: 0 35px 35px 0 / 0 100px 100px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all .5s ease-in-out;
}

.sidebar-wrapper:hover {
  left: -18%;
}

.sidebar-wrapper.open {
  left: 0;
}

.sidebar-arrow {
  margin: 10px;
  color: white;
  font-size: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 25%;
  cursor: pointer;
}

.main {
  width: 100%;
  margin-left: 5vw;
}